apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-pvc
  namespace: mlip-movies
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: standard
