annotated-types==0.7.0
asttokens  
certifi==2025.8.3
charset-normalizer==3.4.3
comm  
debugpy  
decorator  
exceptiongroup  
executing  
fastapi
uvicorn
idna==3.10
importlib_metadata  
ipykernel  
ipython  
jedi  
joblib==1.5.2
jupyter_client  
jupyter_core  
lightfm==1.17
matplotlib-inline  
mypy_extensions==1.1.0
nest_asyncio  
numpy==2.2.6
packaging  
pandas==2.3.2
pandera==0.26.1
parso  
pexpect  
pickleshare  
platformdirs  
prompt_toolkit  
psutil  
ptyprocess  
pure_eval  
pydantic==2.12.3
pydantic_core==2.41.4
Pygments  
python-dateutil  
pytz==2025.2
pyzmq  
requests==2.32.5
scikit-learn==1.7.2
scipy==1.15.3
six  
stack_data  
threadpoolctl==3.6.0
tornado  
tqdm==4.67.1
traitlets  
typeguard==4.4.4
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions  
tzdata==2025.2
urllib3==2.5.0
wcwidth  
zipp
prometheus-client
